<input type="file"
       (change)="onFileSelect($event)">
<fieldset>
    <legend>
        Csv Preview
    </legend>
    <ng-container *ngIf="csvPreview$ | async as data">
        <table>
            <thead>
                <th *ngFor="let header of data.headers">{{header}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let body of data.body">
                    <td *ngFor="let tmp of body">
                        {{tmp}}
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</fieldset>
<fieldset>
    <legend>
        Validation Results
    </legend>
    <ng-container *ngIf="validationResults$ | async as data">
        <ul *ngFor="let item of data">
            <li>
                user: {{item.user}}
            </li>
            <ul *ngFor="let e of item.errorMessages">
                {{e}}
            </ul>
        </ul>
    </ng-container>
</fieldset>